<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creative_webstudio.iba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />
    <application
        android:name=".IbaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/sign_in"
            android:theme="@style/AppTheme.NoActionBar" >
            <!--<intent-filter>-->
                <!--<action android:name=".activities.SignInActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.ProductActivity"
            android:label="Product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CartActivity"
            android:label="Cart"/>
        <activity
            android:name=".activities.ProductDetailsActivity"
            android:theme="@style/AppTheme.Detail" />

        <activity
            android:name=".activities.ProductSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.OrderHistoryActivity"/>

        <activity android:name=".activities.OrderItemsActivity"/>

        <activity
            android:name=".activities.CartEditActivity"/>

        <activity android:name=".activities.ProfileActivity"
            android:label="Customer Profile"/>

        <activity android:name=".activities.ProfileEditActivity"
            android:label="Profile Edit"/>

        <activity android:name=".activities.ChangePasswordActivity"
            android:label="Change Password"/>
    </application>

</manifest>